<div ng-class="{widget:true,innerAll: model.data.border}">
    <a class="display-block innerAll inner-2x {{model.data.background}}" ng-href="{{model.data.href}}">
        <span class="display-block text-center">
            <i class="fa fa-fw fa-3x {{model.data.icon}} {{model.data.textcolor}}"></i>
            <p class="strong innerT text-condensed text-medium text-white margin-none">{{model.data.title|translate}}</p>
            <p class="text-normal margin-none strong {{model.data.textcolor}}">{{model.data.text|translate}}</p>
        </span>
    </a>
</div>