<div class="carousel slide" id="{{model.data.id}}">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li ng-class="{active:$first}" ng-repeat="item in model.data.items" data-slide-to="{{$index}}" data-target="#{{model.data.id}}"></li>
    </ol>
    <!-- // Indicators END -->
    <!-- Items -->
    <div class="carousel-inner">

        <div ng-class="{item:true,active:$first}" ng-repeat="item in model.data.items">
            <img class="img-responsive" alt="" ng-src="{{item.image}}">
            <div class="carousel-caption">
                <h4>{{item.title|translate}}</h4>
                <p>{{item.text|translate}}</p>
            </div>
        </div>

    </div>

    <a data-slide="prev" href="#{{model.data.id}}" class="left carousel-control">
        <span class="fa fa-prev"></span>
    </a>
    <a data-slide="next" href="#{{model.data.id}}" class="right carousel-control">
        <span class="fa fa-next"></span>
    </a>
    <!-- // Navigation END -->
</div>