<div ng-repeat="widget in model.data.items" class="type-teaserlist">
    <div ng-class="{innerAll: widget.border } "  class="widget widget col-sm-{{12/model.data.items.length}}">
        <a href="#" class="display-block {{widget.background}} innerAll text-center {{widget.textcolor}}"><i class="{{widget.icon}} fa-5x"></i>
        </a>
        <div class="text-center innerAll">
            <a href="{{widget.href}}" class="strong  ">{{widget.text|translate}}</a>
            <div class="clearfix"></div>
        </div>
        <div ng-if="widget.ribbon" class="ribbon-wrapper">
            <div class="ribbon {{widget.ribbonColor}}   ">{{widget.ribbon|translate}}</div>
        </div>
    </div>
</div>