<!-- list -->
<ul class="nav">

    <li ng-class="{active:$index==0}" ng-repeat="itemMenu in sideMenu" ui-sref-active="active">
        <a class="auto" href="#/app{{itemMenu.url}}" ui-sref="app.{{itemMenu.url.replace('/','')}}">
            <span class="pull-right text-muted"  ng-if="itemMenu.children.length>0" >
                <i  class="fa fa-fw fa-angle-right text"></i>
                <i  class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon {{itemMenu.iconurl}} icon"></i>
            <span class="ng-scope">{{itemMenu.name}}</span>
        </a>

        <ul class="nav nav-sub dk" ng-if="itemMenu.children.length>0">

            <li  ng-repeat="child in itemMenu.children" ui-sref-active="active">
                <a  href="#/app{{child.url}}"  ui-sref="app.{{child.url.replace('/','')}}">
                    <span  class="ng-scope">{{child.name}}</span>
                </a>
            </li>
        </ul>

    </li>


</ul>
<!-- / list -->
