<div ng-class="{widget:true,innerAll: model.data.border}">
    <div ng-class="{row:true , 'row-merge':model.data.merge}">
        <div class="col-sm-{{12/model.data.items.length}} {{item.background}}"  ng-repeat="item in model.data.items"     >



            <div class="innerAll text-center">
                <i class="{{item.icon}} fa fa-5x innerTB {{item.iconColor}} "></i>
                <div class="clearfix"></div>

                <a ng-if='item.href' ng-href="{{item.href}}" class="lead innerTB strong {{item.textcolor}}">{{item.title|translate}}</a>
                <a ng-if='!item.href' class="lead innerTB strong {{item.textcolor}}">{{item.title|translate}}</a>

                <p>{{item.text|translate}}</p>

                <div ng-if="item.ribbon" class="ribbon-wrapper">
                    <div class="ribbon {{item.ribbonColor}}">{{item.ribbon|translate}}</div>
                </div>
            </div>


        </div>

        
    </div>
</div>
