<div class="widget">
    <div class="innerAll half {{model.data.background}} border-bottom">
        <h4 class="margin-none">{{model.data.title}}</h4>
        <div class="clearfix"></div>
    </div>
    <div class="bg-gray-hover overflow-hidden"  ng-repeat="item in model.data.items">
        <div class="row innerAll half border-bottom">
            <div class="col-sm-6 col-xs-8">
                <ul class="media-list margin-none">
                    <li class="media">
                        <a href="#" class="pull-left innerAll half ">
                            <span class="empty-photo"><i class="fa {{item.icon}} fa-2x text-muted"></i>
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="  half">
                                <h4 class="margin-none">
                                    <a class="media-heading text-primary font-size-14" href="">
                                        {{item.title|translate}}
                                    </a>
                                </h4>
                                <div class="clearfix"></div>
                                <small class="margin-none font-size-11">
                                    {{item.text|translate}}
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-{{6/item.columns.length}} col-xs-4" ng-repeat="column in item.columns">
                <div class="text-center innerAll">
                    <p ng-class="{strong:column.bold }" class="font-size-11 margin-bottom-none">{{column.text|translate}}</p>

                </div>
            </div>




        </div>
    </div>
</div>