<div class="tablewidget panel panel-primary" ng-cloak="" >
    <div class="panel-heading no-margins">
        <i ng-if="model.data.titleIcon" class="fa {{model.data.titleIcon}}" style="margin-right:4px"></i> {{model.data.title|translate|uppercase}}
    </div>

    <div class="panel-body" style="padding:0;overflow:auto;height: {{model.data.height}}px">
        <div class="table-responsive" >
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th ng-repeat="column in model.data.columns"  >{{column.header|translate|uppercase}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reservation in model.values.lastreservations" ng-click="dispatch('record.selected',{source:model.data.id,record:reservation})">
                    <td
                            ng-repeat="column in model.data.columns"
                            align="{{column.align}}"
                            width="{{column.width}}"
                            style="white-space: nowrap"
                            >
                        <i ng-if="model.data.rowIcon && $first" class="fa {{model.data.rowIcon}}" style="margin-right:4px"></i>
                        {{reservation[column.field]}}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>