<div class="panel b-a" style="height:{{facilities.heightToPixel('x1')}}px">



</div>

<div class="panel" style="height:{{facilities.heightToPixel('x1')}}px">
    <div class="panel-heading {{model.data.bgClass?model.data.bgClass:'bg-info'}}  no-border wrapper-md text-center font-bold  " >
        {{model.data.title|translate|uppercase}}
    </div>
    <div class="text-center  clearfix">
        <div class="thumb-lg avatar m-t-n-xxl">
            <span ng-if="model.data.titleIcon" class="bg-white fa {{model.data.titleIcon}} fa-2x" ></span>
        </div>
    </div>
    <div class="padder lter row text-center no-gutter pos-rlt" style="z-index:2">

    </div>


</div>
