<div class="panel b-a">
    <div class="panel-heading text-center bg-info no-border">
        <h4 class="text-u-c m-b-none">Start</h4>
        <h2 class="m-t-none">
            <sup style="top:-22px" class="pos-rlt">$</sup>
            <span class="text-2x text-lt">99</span>
            <span class="text-xs">/ mo</span>
        </h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> Email preview on air
        </li>
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
        </li>
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> 100 GB Space
        </li>
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> 200 user accounts
        </li>
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> Free support for two years
        </li>
        <li class="list-group-item">
            <i class="icon-check text-success m-r-xs"></i> Free upgrade for one year
        </li>
    </ul>
    <div class="panel-footer text-center">
        <a class="btn btn-info font-bold m" href="">Start your free trial</a>
    </div>
</div>