<div class="row">
    <div class="col-md-8 col-lg-8 margin-none">
        <div ng-widget ng-name="reservationtodaydepartures" />
    </div>
    <div class="col-md-4 col-lg-4 margin-none">
        <div ng-widget ng-name="reservationtodaydeparture" />
    </div>
</div>
</div>


<div class="padder-v b-t b-light bg-light lter row text-center no-gutter">
    <div class="col-xs-8">
        <div ng-widget ng-name="reservationtodaydepartures" />
    </div>

    <div class="col-xs-4">
        <div ng-widget ng-name="reservationtodaydeparture" />
    </div>
</div>