<div class="panel no-border" >

        <div class="col-sm-4 " ng-repeat="item in $root.dateFilterDefinitions.items">
            <div id="{{item.id}}" class=" bg-white text-dark   " style=" padding: 1px 6px 4px 8px;">
                <h5 style="cursor:pointer;margin:0px 10px !important;" ng-click="$root.dateFilterDefinitions.expanded=true;" class="filter-header-collapsed  align-center innerAll half   border-bottom-none margin-none  " ng-if="!$root.dateFilterDefinitions.expanded">
                     <b>{{item.title|translate }}</b>
                    <div   class="filter-header-collapsed">
                        <span class="filter-header-collapsed">{{$root.dashBoardFilter[item.type+'YearFrom'] }}</span>
                        <span class="filter-header-collapsed" ng-if="$root.dashBoardFilter[item.type+'YearFrom']!=$root.dashBoardFilter[item.type+'YearTo']">-{{$root.dashBoardFilter[item.type+'YearTo']}}</span>

                        <span class="filter-header-collapsed">{{  $root.months[$root.dashBoardFilter[item.type+'MonthFrom'] -1 ] |translate}}</span>
                        <span class="filter-header-collapsed" ng-if="$root.dashBoardFilter[item.type+'MonthFrom']!=$root.dashBoardFilter[item.type+'MonthTo']">-{{$root.months[$root.dashBoardFilter[item.type+'MonthTo']-1 ]|translate }}</span>

                    </div>
                </h5>
                <h4 style="cursor:pointer;" ng-click="$root.dateFilterDefinitions.expanded=false;" ng-if="$root.dateFilterDefinitions.expanded" class=" text-dark-lt   bg-white align-center innerAll half border-bottom margin-none text-dark-lt ">{{item.title|translate}} </h4>
                <div class="innerAll half text-dark   bg-white border-bottom" ng-if="$root.dateFilterDefinitions.expanded">
                    <div class="media innerAll half margin-none text-dark-lt">
                        <div class="pull-left">
                            <i class="fa fa-fw fa-calendar fa-3x "></i>
                        </div>
                        <div class="media-body" style="padding:0px">
                            <p class="strong lead  margin-none" style="font-size:16px">
                                <span>{{$root.dashBoardFilter[item.type+'YearFrom'] }}</span>
                                <span ng-if="$root.dashBoardFilter[item.type+'YearFrom']!=$root.dashBoardFilter[item.type+'YearTo']"> - {{$root.dashBoardFilter[item.type+'YearTo']}}</span>
                            </p>
                            <p class="strong    margin-none">
                                <span>{{  $root.months[$root.dashBoardFilter[item.type+'MonthFrom'] -1 ] |translate}}</span>
                                <span ng-if="$root.dashBoardFilter[item.type+'MonthFrom']!=$root.dashBoardFilter[item.type+'MonthTo']"> - {{$root.months[$root.dashBoardFilter[item.type+'MonthTo']-1 ]|translate }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innerAll half bg-gray "  ng-if="$root.dateFilterDefinitions.expanded">
                    <div class="media innerAll half margin-none">
                        <div class="media-body" style="padding:0 14px 13px 14px">
                            <div dateslider  ng-from="$root.dashBoardFilter[item.type+'YearFrom']"   ng-to="$root.dashBoardFilter[item.type+'YearTo']"  ></div>
                            <div style="height:20px;"></div>
                            <div dateslider type="month"  ng-from="$root.dashBoardFilter[item.type+'MonthFrom']"   ng-to="$root.dashBoardFilter[item.type+'MonthTo']"  ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
