<tabset class="tab-container">
    <tab>
        <tab-heading>
            <i style="margin-right:5px" class="fa fa-calendar-o"></i>  {{'30 days'|translate}}
        </tab-heading>

        <div ng-chart chart-name="totrevxpaxseg" chart-type="sided_bars" style="height:240px"></div>


    </tab>

    <tab >
        <tab-heading>
            <i style="margin-right:5px" class="fa fa-calendar-o"></i> {{'12 months'|translate}}
        </tab-heading>
    </tab>

    <tab>
        <tab-heading>
            <i style="margin-right:5px" class="fa fa-calendar-o"></i> {{'24 months'|translate}}
        </tab-heading>
    </tab>
</tabset>